li a {
    color: green;
}

body {
    background: white url("images/background.png") no-repeat;
}

#content_block {
    margin: 30px;
}

#wrong_answer {
    color: red;
}
#right_answer {
    color: green;
}