{% extends "base.html" %}

{% set title = poll.title %}

{% block content %}

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{{ url('vote', poll_id=poll.id) }}" method="post">

{% for question in questions %}
    <div class="form-group">
    <label for="question_{{ question.question.id }}">{{ question.question.question_text }}</label>
    <select class="form-control" name="{{ question.question.id }}" id="question_{{ question.question.id }}">
    {% for choice in question.choices %}
        <option value="{{ choice.id }}">{{ choice.choice_text }}</option>
    {% else %}
        <option value="None">None</option>
    {% endfor %}
    </select>
    </div>
{% endfor %}

<button type="submit" class="btn btn-dark">Vote</button>
</form>

{% endblock %}
